.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    & li {
        margin-right: 10px;
        
        & a {
            text-decoration: none;
            color: black;
            margin: 0 10px;
        }
    
    }
}


